<div class="drawer lg:drawer-open">
  <input 
    class="drawer-toggle" 
    id="main-drawer" 
    type="checkbox"
    [checked]="isSidebarOpen"
    (change)="toggleSidebar.emit()" 
  />
  
  <div class="drawer-content">
    <nav class="navbar w-full bg-base-300 shadow-sm">
      <label for="main-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
        <lucide-icon size="16" [img]="sidebarIcon"></lucide-icon>
      </label>
      <div class="px-4">
        Pet Manager
      </div>
    </nav>
    <main class="p-6"> 
      <router-outlet></router-outlet>
    </main>
  </div>

  <aside class="drawer-side is-drawer-close:overflow-visible">
    <label class="drawer-overlay" for="main-drawer"></label>
    <div class="flex min-h-full flex-col items-start bg-base-200 is-drawer-close:w-14 is-drawer-open:w-64">
      <ul class="menu w-full grow">
        @for (item of menuItems; track item.label) { 
          <li class="pb-1">
            <a class="flex items-center gap-3 is-drawer-close:tooltip is-drawer-close:tooltip-right" 
              routerLinkActive="menu-active" 
              [attr.data-tip]="item.label"
              [routerLink]="item.route">
              <lucide-icon size="16" [img]="item.icon"></lucide-icon>
              <span class="is-drawer-close:hidden">
                {{ item.label }}
              </span>
            </a>
          </li>
        }
      </ul>
    </div>
  </aside>

</div>