<div class="drawer lg:drawer-open">
  <input 
  class="drawer-toggle" 
  id="main-drawer" 
  type="checkbox"
  [checked]="isSidebarOpen"
  (change)="toggleSidebar.emit()" 
  />
  
  <div class="drawer-content">
    <app-breadcrumb [items]="breadCrumbs"></app-breadcrumb>
    <main class="p-6 bg-base-200">
      <router-outlet></router-outlet>
    </main>
  </div>

  <aside class="drawer-side is-drawer-close:overflow-visible shadow-sm z-10">
    <label class="drawer-overlay" for="main-drawer"></label>
    <nav class="flex min-h-full flex-col items-start bg-white shadow-sm z-1 is-drawer-close:w-14 is-drawer-open:w-64">

      <div class="flex h-16 w-full items-center px-4 is-drawer-close:justify-center is-drawer-open:justify-between border-b border-base-200">
        <span class="font-bold is-drawer-close:hidden">
          Menu
        </span>
        <button 
          class="btn btn-square btn-ghost btn-sm"
          (click)="toggleSidebar.emit()">
          <lucide-icon size="16" [img]="sidebarIcon"></lucide-icon>
        </button>
      </div>

      <ul class="menu w-full grow">
        @for (item of menuItems; track item.label) { 
          <li class="pb-1.5">
            <a class="flex items-center gap-4 is-drawer-close:tooltip is-drawer-close:tooltip-right" 
              routerLinkActive="menu-active" 
              [attr.data-tip]="item.label"
              [routerLink]="item.route">
              <lucide-icon size="16" [img]="item.icon"></lucide-icon>
              <span class="is-drawer-close:hidden">
                {{ item.label }}
              </span>
            </a>
          </li>
        }
      </ul>
    </nav>
  </aside>

</div>