@if (petsFacade.pet$ | async; as pet) {
  <app-detail-container 
    backLink="/shell/pets"
    listDetailRoutePrefix="/shell/tutors/details"
    listSubtitleProperty="telefone"
    listTitle="Tutores Vinculados"
    [editLink]="['/shell/pets/edit', pet.id]"
    [imageUrl]="pet.foto?.url"
    [listItems]="pet.tutores"
    [listIcon]="Users"
    [listItemImagePlaceholder]="User"
    [title]="pet.nome">
    
    <div content> 
      <div class="grid grid-cols-2 gap-3 md:gap-4">
        <app-info-card label="Idade (Anos)" [value]="pet.idade"></app-info-card>
        <app-info-card label="Raça" [value]="pet.raca"></app-info-card>
      </div>
    </div>
  </app-detail-container>
}