<div class="max-w-2xl mx-auto space-y-6">
  <div class="card bg-base-100 shadow-sm border border-base-200">
    <div class="card-body p-8">
      <app-form-header title="Dados do pet" description="Identificação" [icon]="PawPrint" />
      <form class="flex flex-col gap-5" [formGroup]="petForm" (ngSubmit)="onSave()" >
        <app-upload 
          [currentPhotoUrl]="(petsFacade.pet$ | async)?.foto?.url"
          [isUploading]="petsFacade.loading$ | async"
          (fileChange)="onFileChange($event)"
          (removeRequest)="onRemoveRequest()">
        </app-upload>
        <div class="flex flex-col gap-2.5">
          <app-input formControlName="nome" label="Nome do Pet" placeholder="Ex: Rex" type="text"></app-input>
          <app-input formControlName="idade" label="Idade (Anos)" type="number" placeholder="0"></app-input>
          <app-input formControlName="raca" label="Raça" placeholder="Ex: Labrador" type="text"></app-input>
        </div>
        <app-form-actions 
          [isEdit]="!!petId" 
          [isInvalid]="petForm.invalid || (petsFacade.loading$ | async) || false" 
          (back)="onBack()"
          (delete)="onDelete()" />
      </form>
    </div>
  </div>

</div>