<div class="max-w-2xl mx-auto space-y-6">
  <div class="card bg-base-100 shadow-sm border border-base-200">
    <div class="card-body p-8">

      <div class="flex items-center gap-3 mb-6">
        <div class="p-3 bg-primary/10 text-primary rounded-xl">
          <lucide-angular [img]="PawPrint" size="24"></lucide-angular>
        </div>
        <div>
          <h2 class="card-title text-2xl font-bold">
            Dados do pet
          </h2>
          <p class="text-sm text-base-content/50">
            Identificação
          </p>
        </div>
      </div>

      <form class="flex flex-col gap-4 space-y-6" [formGroup]="petForm" (ngSubmit)="onSave()" >

        <app-upload 
          disabledMessage="Upload disponível após cadastrar o pet"
          [currentPhotoUrl]="(petsFacade.pet$ | async)?.foto?.url"
          [disabled]="!petId"
          [isUploading]="petsFacade.loading$ | async"
          (fileChange)="onFileChange($event)"
          (removeRequest)="onRemoveRequest()">
        </app-upload>

        <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
          <div class="md:col-span-2">
            <app-input formControlName="nome" label="Nome do Pet" placeholder="Ex: Rex" type="text"></app-input>
          </div>
          <div class="md:col-span-2">
            <app-input formControlName="idade" label="Idade (Anos)" type="number" placeholder="0"></app-input>
          </div>
        </div>

        <div class="w-full">
          <app-input formControlName="raca" label="Raça" placeholder="Ex: Labrador" type="text"></app-input>
        </div>

        <div class="flex flex-col-reverse sm:flex-row items-center justify-center gap-3 pt-6 border-t border-base-200">
          <button 
            class="btn btn-outline hover:bg-base-200 w-full sm:w-auto px-6 font-semibold text-base" 
            type="button" 
            routerLink="/shell/pets">
            Voltar
          </button>
          <div class="sm:flex-1"></div>
          @if (petId) {
            <button 
              class="btn btn-error w-full sm:w-auto px-12 shadow-lg gap-2 text-base" 
              type="button" 
              (click)="onDelete()">
              Excluir
            </button>
          }
          <button 
            class="btn btn-neutral w-full sm:w-auto px-12 shadow-lg gap-2 text-base" 
            type="submit" 
            [disabled]="petForm.invalid">
            Salvar Dados
          </button>
        </div>

      </form>
    </div>
  </div>

</div>