<div class="flex flex-col gap-5">
  <app-input 
    placeholder="Buscar pelo nome do pet" 
    type="text" 
    [formControl]="searchControl" 
    [icon]="SearchIcon" />

    @if (petsFacade.petsList$ | async; as list) {
      <div class="grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
        @for (pet of list.content; track pet.id) {
          <div>
            <app-pet-card [pet]="pet" (viewDetails)="onViewDetails($event)"></app-pet-card>
          </div>
        } @empty {
          <div class="col-span-full flex flex-col items-center justify-center py-16 bg-base-200/50">
            <lucide-icon class="w-12 h-12 text-base-content/30 mb-3" [img]="SearchIcon"></lucide-icon>
            <p class="text-lg font-medium text-base-content">Nenhum resultado encontrado</p>
          </div>
        }
      </div>
      <app-paginator
        class="self-center"
        foundItensLabel="pets"
        [currentPage]="list.page"
        [totalElements]="list.total"
        [totalPages]="list.pageCount"
        (pageChange)="onPageChange($event)"> 
      </app-paginator>
    }
</div>