<app-card-list 
  foundLabel="tutores"
  placeholder="Buscar pelo nome do tutor"
  [cardTemplate]="template"
  [list]="(tutorsFacade.tutorsList$ | async) || { content: [], total: 0, page: 0, pageCount: 0, size: 0 }"
  [isLoading]="(tutorsFacade.loading$ | async) || false"
  (pageChange)="onPageChange($event)"
  (search)="onSearch($event)">
</app-card-list>

<ng-template let-item #template>
  <app-tutor-card 
    [tutor]="item" 
    (delete)="onDelete($event)"
    (edit)="onEdit($event)"
    (viewDetails)="onViewDetails($event)">
  </app-tutor-card>
</ng-template>
