<div class="form-control w-full">
  <label class="label">
    <span class="label-text font-semibold text-sm">
      {{ label }}
      @if (isRequired) {
        <span class="text-sm">*</span>
      }
    </span>
  </label>
  <div class="relative">
    <input 
      class="input input-bordered w-full" 
      [class.input-error]="isInvalid"
      [disabled]="disabled"
      [placeholder]="placeholder" 
      [type]="type" 
      (blur)="onTouched()"
      (input)="onInput($event)"/>
  </div>
  @if (isInvalid) {
    <label class="label">
      <span class="label-text-alt text-error text-sm">
        {{ getErrorMessage() }}
      </span>
    </label>
  }
</div>