@if (tutorsFacade.tutor$ | async; as tutor) {
  <app-detail-container 
    listSubtitleProperty="raca"
    listTitle="Pets Vinculados"
    [imageUrl]="tutor.foto?.url"
    [imagePlaceholder]="User"
    [listItems]="tutor.pets!"
    [listIcon]="PawPrint"
    [title]="tutor.nome"
    (back)="onBack()"
    (edit)="onEdit()"
    (itemClick)="onItemClick($event)">
    
    <div content> 
      <div class="grid grid-cols-2 gap-3 md:gap-4">
        <app-info-card label="Telefone" [value]="tutor.telefone"></app-info-card>
        <app-info-card label="Endereço" [value]="tutor.endereco"></app-info-card>
      </div>
    </div>
  </app-detail-container>
}