<nav class="w-full bg-base-100 px-6 py-6 border-b border-base-200 shadow-sm">
  @if (shellFacade.breadcrumbConfig$ | async; as config) {
    <div class="flex items-center justify-between gap-4">
      
      <div class="flex flex-col gap-1">
        <div class="breadcrumbs">
          <ul class="flex items-center gap-2">
            @for (item of config.breadcrumbs; track item.label) {
              <li class="flex items-center gap-2">
                <span 
                  class="font-semibold text-base-content cursor-default no-underline"
                  [ngClass]="{'cursor-pointer hover:text-primary hover:underline transition-all': item.link }"
                  [routerLink]="item.link"
                  [title]="item.link ? 'Clique para voltar' : ''">
                  {{ item.label }}
                </span>
              </li>
            }
          </ul>
        </div>
      </div>

      @if (config.button) {
        <app-button [icon]="config.button.icon" [routerLink]="config.button.link">
          {{ config.button.label }}
        </app-button>
      }

    </div>
  }
</nav>