<div
  class="card bg-base-100 shadow-xl border border-base-200 hover:border-primary/40 transition-all duration-300 group cursor-pointer"
  (click)="onDetail()">

  <figure class="aspect-video w-full overflow-hidden bg-base-200 relative">
    @if (tutor.foto?.url) {
      <img 
        class="object-cover w-full h-full group-hover:scale-110 transition-transform duration-500"
        [alt]="tutor.nome"
        [src]="tutor.foto?.url" />
    } @else {
      <app-image-placeholder [icon]="UserRound"></app-image-placeholder>
    }
  </figure>

  <div class="card-body p-4 gap-1">
    <h2 class="card-title text-base-content font-bold truncate" [title]="tutor.nome">
      {{ tutor.nome }}
    </h2>

    <div class="flex flex-col gap-2 mt-2">
      <div class="flex items-center gap-2 text-sm">
        <span class="text-base-content/60 font-medium">Contato:</span>
        <span class="text-base-content/80 font-semibold">
          {{ tutor.telefone }}
        </span>
      </div>

      <div class="flex items-center gap-2 text-sm">
        <span class="text-base-content/60 font-medium">E-mail:</span>
        <span class="text-base-content/80 truncate text-xs" [title]="tutor.email">
          {{ tutor.email }}
        </span>
      </div>
    </div>

    <div class="card-actions justify-end mt-4">
      <button class="btn btn-primary btn-sm btn-ghost group-hover:btn-active">
        Ver perfil
        <lucide-angular [img]="ChevronRight" [size]="16"></lucide-angular>
      </button>
    </div>
  </div>
</div>