<header class="navbar w-full bg-white z-40 shadow-sm">
  <div class="flex-none lg:hidden">
    <label for="main-drawer" class="btn btn-square btn-ghost">
      <lucide-icon size="16" [img]="(shellFacade.sidebarIcon$ | async) ?? PanelRightCloseIcon"></lucide-icon>
    </label>
  </div>
  <div class="px-4">
    Pet Manager
  </div>
</header>
 
<app-sidebar
  [config]="shellFacade.breadcrumbConfig$ | async" 
  [isSidebarOpen]="shellFacade.isSidebarOpen$ | async"
  [menuItems]="menuItems"
  [sidebarIcon]="(shellFacade.sidebarIcon$ | async) ?? PanelRightCloseIcon"
  (logout)="authFacade.logout()"  
  (toggleSidebar)="shellFacade.toggleSidebar()">
</app-sidebar>

<app-dialog></app-dialog>
